<component name="ArtifactManager">
  <artifact type="war" name="spring-cloud-eureka-customer-feign:war">
    <output-path>$PROJECT_DIR$/spring-cloud-eureka-customer-feign/target</output-path>
    <root id="archive" name="spring-cloud-eureka-customer-feign-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-cloud-eureka-customer-feign:war exploded" />
    </root>
  </artifact>
</component>